.benefits{
  width: 100%;
  max-width: 100%;
  height: 61rem;
  background: #fafafa;

  #_top{
    position: relative;
    top: -250rem;
  }
  &-wrapper{
    &_header{
      margin-bottom: 6rem;
      h3{
        font-weight: 900;
        font-size: 3.3rem;
        text-align: center;
      }
    }
    &_box{
      display: flex;
      justify-content: space-between;
      &__wrap{
        width: calc(25% - 25px);
        padding: 40px 20px;
        background: #fff;
      }
      &__title{
        font-weight: 400;
        font-size: 2rem;
        margin: 1rem 0rem 1rem;
      }
      &__text{
        font-weight: 500;
        font-size: 1.3rem;
      }
    }
  }
}
@media screen and (max-width: 1250px){
  .container{
    width: 96rem;
  }
  .benefits{
    height: 52rem;
    &-wrapper{
      &_box{    
        justify-content: unset;
        gap: 3.4rem;
        &__wrap{
          padding: 3rem 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 990px){
  .container{
    width: 72rem;
  }
  .benefits{
    &-wrapper{
      &_header{
        h3{
          font-size: 2.6rem;
        }
      }
      &_box{
        &__wrap{
          padding: 2rem 1rem;
         width: calc(25% - 8px) ; 
        }
      }
    }
  }
}
@media screen and (max-width: 720px){
  .container{
    width: 48rem;
  }
  .benefits{
    height: 89rem;
    padding-top: 15rem;
    &-wrapper{
      &_box{
        flex-wrap: wrap;
        justify-content: initial;
        gap: 1rem;
        &__wrap{
          width: calc(54% - 25px);
          padding: 2rem 2rem;
        }
        &__text{
          line-height: 2.3rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}
@media (max-width: 480px){
  .container{
    width: 390px;
    padding: 0 15px;
  }
  .benefits{
    height: 130rem;
    padding-top: 11rem;
    &-wrapper{
      &_box{
        gap: 4rem;
        &__wrap{
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

