.stock{
  position: fixed;
  opacity: 2;
  top: 15rem;
  cursor: pointer;
  &::before{
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  &:hover{
    opacity: 1;
  }
  &-block{
    opacity: 0;
    transform: translateY(100%);

  }
  .element-show{
    opacity: 1;
    transition: all 3s;
    transform: translateX(50%);
  }
  &-fon{
    &_img{
      width: 100%;
      opacity: 1;
      &:hover{
        opacity: 1;
      }
    }
  }
  &-close{
    &_buttom{
      vertical-align: middle;
      border: none;
      color: inherit;
      border-radius: 50%;
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      opacity: 0.6;
      &:focus,
      &:hover{
        opacity: 1;
        background: rgba(247, 3, 3, 0.5);
      }
      &:active{
        background: rgba(247, 0, 0, 0.9);
      }
      &::before,
      &::after{
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 3rem;
        width: 4px;
        background-color: currentColor;
      }
      &::before{
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after{
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    #close{
      display: none;
      &:hover{
        display: none;
      }
    }
  } 
}
@media (max-width: 1200px){
  .stock{
    .element-show{
      transform: translateY(60%);
    }
  }
}