
.element-show{
  opacity: 1;
  transition: all 3s;
  transform: translateX(20%);
}
.stock{
  width: 100%;
  position: fixed;
  opacity: 2;
  top: 15rem;
  cursor: pointer;
  &::before{
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  &:hover{
    opacity: 1;
  }
  &-box{
    background-image: url(/img/stock/title.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
    width: 35%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    &_header{
      text-align: center;
    }
    &_main{
      padding-top: 12rem;
      text-align: center;
      &__title{
        font-weight: 600;
        font-size: 2.3rem;
        color: aliceblue;
        text-transform:uppercase;
        margin-top: 2rem;
      }
      &__subtitle{
        font-weight: 800;
        font-size: 4rem;
        color: aliceblue;
        text-transform:uppercase;
        padding-top: 3rem;
      }
    }
    &_bottom{
      display: flex;
      align-items: center;
      flex-direction: column;
      &__btn{
        width: 82%;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 2.6rem;
        color: rgb(255, 255, 255);
        max-width: 100%;
        line-height: 4rem;
        text-align: center;
        border: 11px solid #8c188d;
        border-radius: 3rem;
        margin-bottom: 3rem;
        &:hover {
          background-color: #ee1010;
          cursor: pointer;
        }
        &:active {
          background-color: #606060;
          -webkit-transform: translateY(1px);
                  transform: translateY(1px);
        }
      }
    }
  }
}
#close {
  display: inline-block;
  padding: 6px 17px;
  background: rgb(213, 17, 207);
  font-size: 2.5rem;
  font-weight: 800;
  border-radius: 33rem;
  width: fit-content;
  &:hover {
    float:right;
    display:inline-block;
    padding:11px 11px;
    background:rgb(252, 0, 206);
    color:rgb(255, 8, 8);
  }
}

@media (max-width: 1200px){
  .stock{
    &-box{
      width: 42%;
    }
  }
}
@media (max-width: 990px){
  .container{
    width: 74rem;
  }
  .stock{
    top: 12rem;
    &-box{
      width: 50%;
    }
  }
}
@media (max-width: 720px){
  .container{
    width: 48rem;
  }
  .element-show{
    transform: translateX(5%);
  }
  .stock{
    top: 10rem;
    &-box{
      width: 90%;
      height: 60rem;
    }
  }
}