.main{
  width: 100%;
  background-color: #fafafa;
  padding-top: 14rem;
  &-box{
    display: flex;
  }
  &-wrapper{
    background-image: url(../img/main/logo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 6rem;
    border-radius: 1rem;
    &_item{
      font-weight: 700;
      font-size: 2.3rem;
      margin-left: 1rem;
      strong{
        font-weight: 900;
        font-size: 3.3rem;
        color: #92278f;
      }
      span{
        margin-left: 1rem
      }
    }
    &_text{
      width: 40%;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 24px;
      color: #000;
      margin: 2rem 0rem 0rem 1.8rem;
    }
    &_sibtitle{
      margin: 1.5rem;
      &__box{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 3rem;
        p{
          font-weight: 700;
          font-size: 1.6rem;
        }
      }
    }
    &_bottom{
      display: flex;
      align-items: center;
      color: #fff;
      background: linear-gradient(95.61deg,#6b2c8e 28.63%,#9b2066 116.63%);
      border-radius: 1rem;
      width: 27%;
      height: 6rem;
      margin: 5rem 0rem 0rem 2.5rem;
      &:hover {
        background-color: #f9009e;
      }
      &:active {
        background-color: #d52a94;
        -webkit-transform: translateY(1px);
                transform: translateY(1px);
      }
    }
  }
  &-right{
    &_discount{
      position: relative;
    }
  }
}
@media (max-width: 1250px){
  .container{
    width: 96rem;
  }
  .main{
    &-wrapper{
      &_item{
        font-size: 1.7rem;
      }
    }
  }
}
@media (max-width: 990px){
  .container{
    width: 74rem;
  }
  .main{
    &-wrapper{
      &_item{
        font-size: 1.7rem;
        strong{
          font-size: 2.3rem;
        }
      }
      &_text{
        width: 55%;
      }
      &_sibtitle{
        &__box{
          margin: 1.8rem;
        }
      }
      &_bottom{
        width: 39%;
        height: 5rem;
      }
    }
    &-calc{
      &_mid{
        min-width: 40rem;
      }
    }
  }
}
@media (max-width: 720px){
  .container{
    width: 48rem;
  }
  .main{
    padding-top: 9rem;
    &-wrapper{
      &_text{
        width: 79%;
      }
      &_sibtitle{
        margin: 0;
        &__box{
          p{
            font-size: 1.5rem;
          }
        }
      }
      &_item{
        display: flex;
        flex-wrap: wrap;
        strong{
          font-size: 2rem;
        }
      }
      &_bottom{
        width: 64%;
      }
    }
  }
}
@media (max-width: 480px){
  .container{
    width: 390px;
    padding: 0 15px;
  }
  .main{
    &-wrapper{
      padding: 3rem 1rem;
      border-radius: 5rem;
      &_item{
        strong{
          font-size: 1.9rem;
        }
      }
      &_text{
        width: 83%;
      }
      &_sibtitile{
        &__box{
          margin: 0;
        }
      }
      &_bottom{
        margin: 5rem 0rem 1rem 5.5rem;
        width: 65%;
      }
    }
  }
}