.social{
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 299;
  &-fixed{
    &_viber{
      border-radius: 3rem 0 0 3rem;
      display: flex;
      width: 7rem;
      transform: translateX(30px);
      padding: .5rem 1rem;
      margin-bottom: 1rem;
      transition: .59s;
      background: #7D3DAF;
      &:hover{
        transform: translateX(0px);
      }
    }
    &_telega{
      border-radius: 3rem 0 0 3rem;
      display: flex;
      width: 7rem;
      transform: translateX(30px);
      padding: .5rem 1rem;
      margin-bottom: 1rem;
      transition: .59s;
      background: #2da4e1;
      &:hover{
        transform: translateX(0px);
      }
    }
  }
}