.social{
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 299;
  &-fixed{
    &_vk{
      border-radius: 3rem 0 0 3rem;
      display: flex;
      width: 7rem;
      transform: translateX(30px);
      margin-bottom: 1rem;
      transition: .59s;
      background: #e7e9f7;
      &:hover{
        transform: translateX(0px);
      }
    }
    &_instagram{
      border-radius: 3rem 0 0 3rem;
      display: flex;
      width: 7rem;
      transform: translateX(30px);
      margin-bottom: 1rem;
      transition: .59s;
      background: #e7e9f7;
      &:hover{
        transform: translateX(0px);
      }
    }
  }
}