.main{
  width: 100%;
  padding-top: 10rem;
  &-contacts{
    &_nav{
      &__list{
      display: flex;
      justify-content: center;
      padding-top: 4rem;
        span{
          font-weight: 500;
          font-size: 1.5rem;
          opacity: 0.9s;
          &:hover{
            color: #922c9e;
          }
        }
      }
      &__control{
        opacity: 0.9s;
        &:active {
           color: red; 
          }
      }
      &__item{
        margin-left: 1rem;
        margin-right: 1rem;
      }
      &__col{
        color: #922c9e;
        cursor: pointer;
      }
    }
    &_header{
      &__heading{
        font-weight: 700;
        font-size: 3rem;
        line-height: 5rem;
        color: #222;
        margin: 2rem 0rem 2.5rem 0rem;
      }
      &__desc{
        width: 78%;
        font-weight: 400;
        font-size: 1.7rem;
      }
    }
  }
  &-description{
    &_title{
      font-weight: 400;
      font-size: 1.9rem;
      margin-bottom: 2rem;
    }
    &_text{
      width: 51%;
      &__list{
        list-style: none;
        font-weight: 500;
        font-size: 1.4rem;
      }
    }
  }
  &-information{
    padding-top: 2rem;
    &_caption{
      font-weight: 400;
      font-size: 1.8rem;
    }
    p{
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}